<section class="questions_meta">
  <h3 class="questions section title" >Meta</h3>

  <div class="section meta question" >
    <label for='Automate or Die'>Automate or Die : 1 Point</label>
    <input type='checkbox' id="Automate or Die" name='Automate or Die' value=1 />
  </div>

  <div class="section meta question" >
    <label for='21st Century Digital Boy'>21st Century Digital Boy : 1 Point</label>
    <input type='checkbox' id="21st Century Digital Boy" name='21st Century Digital Boy' value=1 />
  </div>
  
</section>
