<section class="questions_productivity">
  <h3 class="questions section title">Productivity</h3>

  <div class="section productivity question" >
    <label for='The Documentarian'>The Documentarian : 1 Point</label>
    <input type='checkbox' id="The Documentarian" name='The Documentarian' value=1 />
  </div>
  
</section>
