<section class="questions testing">
  <h3 class="questions section title" >Testing</h3>

  <div class="section testing question" >
    <label for='Expect the Unexpected'>Expect the Unexpected : 1 Point</label>
    <input type='checkbox' id="Expect the Unexpected" name='Expect the Unexpected' value=1 />
  </div>

  <div class="subtotal testing" >
    <h4 class="subtotal testing display" >Subtotal :</h4>
  </div>
  
</section>
