<section class="section review">
  <h3 class="questions section title" >Section Review</h3>

  <div class="section review question" >
    <label for='coding for coverage'>Coding for Coverage : 1 Point</label>
    <input type='checkbox' id="coding for coverage" name='coding for coverage' value=1 />
  </div>

  <div class="section review question" >
    <label for='Punctual Programmer'>Punctual Programmer : 1 Point</label>
    <input type='checkbox' id="Punctual Programmer" name='Punctual Programmer' value=1 />
  </div>

  <div class="section review question" >
    <label for='SLOC Gold'>SLOC Gold : 3 Points</label>
    <input type='checkbox' id="SLOC Gold" name='SLOC Gold' value=1 />
  </div>
  
  <div class="section review question" >
    <label for='SLOC Silver'>SLOC Silver : 2 Points</label>
    <input type='checkbox' id="SLOC Silver" name='SLOC Silver' value=1 />
  </div>

  
  <div class="section review question" >
    <label for='SLOC Bronze'>SLOC Bronze : 1 Point</label>
    <input type='checkbox' id="SLOC Bronze" name='SLOC Bronze' value=1 />
  </div>


  <div class="section review question" >
    <label for='Crikey! Thats a whooper'>Crikey! That's a whooper : -2 Points</label>
    <input type='checkbox' id="Crikey! Thats a whooper" name='Crikey! Thats a whooper' value=1 />
  </div>


  <div class="section review question" >
   <label for='Law Abiding Citizen'>Law Abiding Citizen : 1 Point</label>
   <input type='checkbox' id="Law Abiding Citizen" name='Law Abiding Citizen' value=1 />
  </div>


</section>
