<section class="questions housekeeping">
  <h3 class="questions section title" >Housekeeping</h3>

  <div class="section housekeeping question" >
    <label for='Out with the Old, in with the New'>Out with the Old, in with the New : 1 Point</label>
    <input type='checkbox' id="Out with the Old, in with the New" name='Out with the Old, in with the New' value=1 />
  </div>

  <div class="section housekeeping question" >
    <label for='Re-skin and Repeat'>Re-skin and Repeat : 1 Point</label>
    <input type='checkbox' id="Re-skin and Repeat" name='Re-skin and Repeat' value=1 />
  </div>

  <div class="section housekeeping question" >
    <label for='Mors Certa, Hora Incerta'>Mors Certa, Hora Incerta : 1 Point</label>
    <input type='checkbox' id="Mors Certa, Hora Incerta" name='Mors Certa, Hora Incerta' value=1 />
  </div>

  <div class="section housekeeping question" >
    <label for='Independent Development'>Independent Development : 1 Point</label>
    <input type='checkbox' id="Independent Development" name='Independent Development' value=1 />
  </div>

  <div class="section housekeeping question" >
    <label for='Client-side Quality'>Client-side Quality : 1 Point</label>
    <input type='checkbox' id="Client-side Quality" name='Client-side Quality' value=1 />
  </div>
  
  <div class="section housekeeping question" >
    <label for='Server-side Servicing'>Server-side Servicing : 1 Point</label>
    <input type='checkbox' id="Server-side Servicing" name='Server-side Servicing' value=1 />
  </div>
  
  <div class="section housekeeping question" >
    <label for='Decaffeinated!'>Decaffeinated! : 5 Points</label>
    <input type='checkbox' id="Decaffeinated!" name='Decaffeinated!' value=1 />
  </div>

  <div class="subtotal" >
    <h4 class="subtotal display" >Subtotal :</h4>
  </div>
  
</section>
